body {
  font-family: 'Oswald', sans-serif;
  }
  
  

  .sidenav {
    margin-top: 55px;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
    font-size: 20px;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/*********************************************/
img{
  width:100%;
  transition: all 0.5s;
  height:300px;
}
section{
  padding:30px 0;
  
  background-color: rgba(116,185,225,0.09);
  

}
.container{
  max-width: 1200px;
  width: 100%;
  margin:0 auto;
  text-align: center;

}
.events{
 display: grid;
 grid-template-columns: repeat( 2, 1fr);
 grid-gap:50px;
 margin:0 15px;
}
.heading{
  width : 70%;
  margin : 0 auto;


}
.heading h1{
  font-size: 50px;
  margin: 0;
  color: rgba(52,73,94,1.0);
  font-weight: 500;
}
.single-event{
  position: relative;
  overflow: hidden;
  max-height: 580px;
  height: 100%;

  box-sizing: border-box;
  box-shadow: 0 2px 10px #ccc;
  transition: all .5s;
  align-items: center;
}
.single-event:hover{
  box-shadow: 0 2px 13px #ccc;
  transition: all .5s;
}
.single-event:hover img{
  transform: scale(1.1);
  transition: all .4s;
}
.event-content{
  position: absolute;
  left: 0;
  bottom: -45px;
  width: 100%;
  color: #fff;
  padding: 10px 5px;
  background: linear-gradient(45deg, rgba(21,82,153,1) 0%,rgba(144,192,229,.4) 100%);
  transition: all .5s;
}
.single-event:hover .event-content{
  bottom: 0;
  transition: all .5s;
}

.event-content h3{
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.event-content h3 span{
  display: block;
  font-size: 60%;
  margin-top: 5px;
  font-weight: 600;
  color: rgba(52, 73, 94,1.0)
}

.event-content a{
  font-size: 14px;
  font-weight: 500;
}
.event-content .btn{
  display: inline-block;
  padding: 5px 10px;
  
  border-radius: 3px;
  font-weight: 400;
  color: #fff;
}
.event-content .btn:hover{
  background: rgba(52, 152, 219,1.0);
  transition: all .5s;
  text-decoration: none;
}
.event-content a:hover{
  text-decoration: underline;
}
.toggle{
  background-color: rgba(116,185,225,0.09);

}
.nav-link{
  color: #fff !important;
  margin: 0 10px;
}
@media (max-width:992px) {
  .events{
    grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  }
}
@media (max-width:767px) {
  .events{
    grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  }
  .heading{
    width: 95%;
  }
  .event-content{
    bottom: 0;
  }
}
@media (max-width:500px) {

    .events{
      grid-template-columns: repeat(1, 1fr);
    }
  }
  /*############################footer###############################################*/
.footer{
  background-color:  rgba(21,82,153,1);
  
  color: #ddd !important;
  height:350px;
  position: relative;
  padding-top: 50px;
  
  
 
}
.footer h2{
  font-family: 'Oswald', sans-serif;

}
.footercontent{
  padding-top: 10px;
  display: flex;
  text-align: center;
  

  
}
  .footer-section{
      flex: 1;
      padding-left: 20px;
      justify-content: center;
      align-items: center;
  }
  .footerbottom{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 5px;
      padding-top: 20px;
  }

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.footer-section {
    padding-right: 20px;
}
li{
    color: white;
    font-style: normal;
}
.contact button{
    margin-top: 0;
}
@media (max-width:400px){
   
  .footer{
    justify-content: center;
  }
  .footercontent{
    display: inline;
  }
  .address{
       display: none;
   }
   .social{
     align-self: flex-end;
   }
   .contact{
     align-self: flex-start;
   }
   .footer{
     height: 500px;
   }

}
.border{
background-color: #111;
color: #fff;
padding: 10px 30px;
font-family: 'Great Vibes', cursive;
font-size: 30px;
left: 50%;
text-align: center;
align-items: center;
justify-content: center;
}
.container{
   text-align: center;
}
.row
{
   padding-top: 20px;
}

.btn-facebook {color:#ffffff!important;}
.btn-instagram{color:#ffffff!important;}
.btn-youtube{color:#ffffff!important;}
.btn-linkedin{color:#ffffff!important;}
.btn-twitter{color:#ffffff!important;}
.btn-mail{color:#ffffff!important;}
/*############################footer###############################################*/
/************************about-us**************************************/


.intro {
  display: flex;
  margin-bottom: 100px;
  
  
}
.container{
  justify-content: center;
  align-items: center;
  background-color: rgba(116,185,225,0.09);

}
.container .intro-image{
  margin-bottom: 30px;
}
.container .intro-desc{
  margin-bottom: 30px;

}
.card-container {
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
  text-align: center;
  height: 400px;
  margin-bottom: 40px;
}

.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
  padding: 7px;
  width:50%;
  height:50%;
}
.card-container .social-media a{
  margin: 0 10px;

}

.card{
  width: 100%;
  height: 100%;
}
.card-text{
  margin: 2%;
}

.row{
  margin: 2%;
}
.col-sm-4{
  margin-bottom: 2%;
}











